<!--10.5 create and include an anout page -->
<%- include('includes/head') %>


<h1>About us</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis leo ut libero sagittis mollis quis ultrices lorem. Etiam vitae mi nec mi eleifend gravida. Donec pellentesque turpis nec justo ornare, ut vestibulum ante pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam diam nulla, convallis sit amet mauris vitae, venenatis cursus neque. Etiam ac nulla arcu. Vestibulum a vehicula mi. Fusce volutpat, sapien quis volutpat eleifend, dolor magna fringilla sem, in iaculis magna turpis nec lacus.</p>
<p>Sed accumsan cursus risus in consequat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce dapibus vel leo ac facilisis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed vitae est et lorem imperdiet lobortis eget nec risus. Maecenas at ligula quam. Proin ullamcorper pretium tincidunt. Integer a mauris erat. Aenean a porta est, interdum finibus justo. Vestibulum diam eros, volutpat nec enim vitae, accumsan facilisis quam. Nunc et elit id mauris maximus posuere. Nulla aliquam odio lobortis enim convallis, nec porttitor felis interdum. Nulla rhoncus pellentesque nibh, ac pellentesque justo tincidunt eget.</p>


<%- include('includes/footer') %>