<!-- 10.4 using includes -->
<%- include('includes/head') %>

<div class="jumbotron">
    <h1 class="display-3">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>

<h1>Welcome</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis leo ut libero sagittis mollis quis ultrices lorem. Etiam vitae mi nec mi eleifend gravida. Donec pellentesque turpis nec justo ornare, ut vestibulum ante pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam diam nulla, convallis sit amet mauris vitae, venenatis cursus neque. Etiam ac nulla arcu. Vestibulum a vehicula mi. Fusce volutpat, sapien quis volutpat eleifend, dolor magna fringilla sem, in iaculis magna turpis nec lacus.</p>
<p>Sed accumsan cursus risus in c Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae debitis doloribus harum praesentium laudantium animi aspernatur aliquam soluta, deleniti libero ex at, omnis repellat, quisquam iusto incidunt veritatis officia perspiciatis.</p>

<%- include('includes/footer') %>

<!--<h1>Hello from EJS</h1>-->
<!-- 10.1 using variables (dynamic values)-->
<!--
 10.2 using conditionals 
<% if (showTitle) { %>
    <h1><%= title %></h1>
<% } %>

 10.3 using loops
<% people.forEach(function(person){ %>
    <li><%= person %></li>
<% }) %>
-->

